.hero-section {
    /* 82.400 header height */
    height: calc(100vh - 174.400px);
    padding: 0rem 20rem ; 
    width: 100%;
    position: relative;
    margin-top: 1rem;
}
.hero-section .main-image {
    background-color: rgba(0, 0, 0, 0.141);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    filter: brightness(0.6);
    transition: filter 0.25s ease;
}
.hero-section .main-image:hover {
    filter: brightness(1);
}
.title {
    position: absolute;
    bottom: 12rem;
    left: 24rem;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;    
}
@media screen and (max-width:1400px) {
    .hero-section {
        height: calc(100vh - 400px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .hero-section .main-image {
        width: 95%;
    }
    .title {
        left: 2rem;
        bottom: 4rem;
        font-size: 2rem;
    }
}