.home {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: calc(100vh - 200px) repeat(3,100vh);
}
.pageOne {
    background-color: aqua;
}
.pageTwo {
    background-color: brown;
}
.pageThree {
    background-color: yellow;
}