$nav-height : 100px;

$nav-bg : #776B5D;

$nav-color : #F3EEEA;

nav {

    padding: 2rem;
    width: 100%;
    height: $nav-height;
    display: flex;
    align-items: center;
    background-color: $nav-bg;

    .navbar-logo {


        h2 {

            font-family: 'Barlow', sans-serif;
            font-size: 3rem;
            letter-spacing: 0.05rem;
            font-style:italic;
            color: $nav-color;
            cursor: pointer;
            
        }
   
    }

}