* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root {
    width: 100%;
    height: 100%;
    background-color: rgb(164, 164, 164);
    font-size: 10px;
    background-color: #F3EEEA;
}
main {
    width: 100%;
    height: 100%;
}