.login {
    width: 100%;
    height: 100vh;
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}
.form input {
    width: 18rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
}
.form input:focus {
    outline: 2px solid #00ADB5;
    transition: 0.2s ease all;
}
.form button {
    width: 7rem;
    border: none;
    background-color: #00ADB5;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease all;
}
.form button:hover {
    background-color: #00dfea;
    transition: 0.2s ease all;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }