nav {
    padding: 5rem 20rem 0rem 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: black;   
}
.nav-logo {
    width: 25%;
    cursor: pointer;
    letter-spacing: 1.2px;
    font-weight: 1000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-logo h1 {
    font-size: 4rem;
}
.nav-hamburger {
 display: none;       
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}
.nav-list li {
    list-style: none;
}
.nav-list li a {
    font-size: 1.5rem;
    font-weight: 1000;
    letter-spacing: 0.15rem;
    cursor: pointer;
}






@media screen and (max-width:1400px) {
    nav {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-logo h1 {
        font-size: 2.4rem;
    }
    .nav-hamburger {
        display: block;
        font-size: 2.4rem;
        cursor: pointer;
        color: #666;
        transition: color 0.25s ease;
    }
    .nav-hamburger:hover {
        color: #000;
    }
    .nav-list {
        display: none;
    }
}